:root {
    --c-input-border: .1rem;
    --c-border-radius: .25rem;

    --c-color-bg-glass-100: rgba(100, 100, 100, 0.30);
}

.c-button {
    padding: calc(.25rem + var(--c-input-border)) 1rem;
    border: none;
    border-radius: var(--c-border-radius);

    font-size: 1.25rem;
    background-color: var(--color-primary);
    color: #fff;
    backdrop-filter: blur(.1rem);

    transition: background-color 200ms ease-out;
}

.c-button-link:hover {
    color: #fff;
    background-color: #ff4651;
}

.c-link {
    padding: .5rem .75rem;
    border: .15rem solid var(--color-primary);

    width: fit-content;

    color: var(--color-primary);
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-decoration: underline;
}

.c-link:hover {
    color: #9f0b13;
    border-color: #9f0b13;
    text-decoration: underline;
}

.c-input {
    padding: .25rem .5rem;
    border: var(--c-input-border) solid var(--color-primary);
    border-radius: var(--c-border-radius);

    font-size: 1.25rem;
    color: #000;
    background-color: #fff;

    transition: box-shadow 150ms ease-out;
}

.c-input:focus {
    outline: none;

    box-shadow: 0 0 0 0.05rem var(--color-primary);
}

.c-search-form {
    display: flex;
    flex-direction: column;

    padding: 3rem;
    border-radius: var(--c-border-radius);
    gap: 1rem;

    width: min(40rem, 90%);

    background-color: var(--c-color-bg-glass-100);
    backdrop-filter: blur(.1rem);
}
